/* 
 * toggle main content padding on mobile
 */
header, main, footer {
  padding-left: 240px;
}
@media only screen and (max-width: 992px){
  header, main, footer {
    padding-left: 0px;
  }
}
/* 
 * standard fonts
 */


/* 
 * standard column width 
 */
.container {
  width: 90%;
}
/*  
 * mobile menu button
 */
a.button-collapse.top-nav {position: absolute; height: 48px; width: 48px; color: #fff; font-size: 32px; z-index: 2;}
/* 
 * transpect logo
 */
#logo-container{ height:14rem; text-align:center; }
.side-nav li.logo{width:240px;margin-top:-1px;  border-bottom:1px solid #ccc}
.side-nav li.logo:hover{background:none;}
/*
 * right side nav menu
 */
ul.side-nav.fixed li a {line-height: 44px; height: 44px;}
li.naventry-1st a{font-weight:300; font-size:1.2rem; text-decoration:none}


/*
 * mini-toc
 */
 .toc-wrapper {position: relative;margin-top: 42px;}
 ul.table-of-contents {margin-top:0;padding-top:48px;list-style-type:none;}
.table-of-contents li {padding: 2px 0;}
.table-of-contents a {display: inline-block;padding-left: 20px;height: 1.5rem;line-height: 1.5rem;}
.table-of-contents a.active {font-weight: 500;padding-left: 18px;border-left: 2px solid #ea4a4f;}

/*
 * headline wrapper
 */
#index-banner{min-height:14rem}
#tr-title{margin:0.2rem 0 0.4rem 0}
#tr-subtitle{margin:0 0 1rem 0}
/*
 * colors
 */
 
 /* 
  * dark-red  a42423
  * base-red  d2032c
  * light-red e74011
  *
  */ 
.footer-copyright {background-color:#a42423}
.side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active{background-color:#ff9800;}
.side-nav li:hover{background-color:#fff3e0 }
.side-nav li:active, .side-nav li:focus{background-color:#ff9800}
.side-nav li.active{background-color:#eee }
body, #tr-nav{background-color:#fafafa}

/*
 * text styles
 * 
 */
.header{color: #e53935; font-weight:300}
a:hover {text-decoration:underline}
#tr-content ul li, #tr-content ol li{margin:0 0 0 2rem; padding:0}
#tr-content ul li p, #tr-content ol li p{margin:0; padding:0}

#tr-content ul li{list-style-type:disc}
#tr-content ol li{list-style-type:decimal}

p{font-size: 1.25rem; font-weight: 300;}

