/* 
 * toggle main content padding on mobile
 */
header, main, footer {
  padding-left: 240px;
}
@media only screen and (max-width: 992px){
  header, main, footer {
    padding-left: 0px;
  }
}
/* 
 * standard fonts
 */


/* 
 * standard column width 
 */
.container {width: 90%;}
/*  
 * mobile menu button
 */
a.button-collapse.top-nav {position: absolute; height: 48px; width: 48px; color: #fff; font-size: 32px; z-index: 2;}
/* 
 * transpect logo
 */
#logo-container{ height:14rem; text-align:center; }
.side-nav li.logo{width:240px;margin-top:-1px;  border-bottom:1px solid #ccc}
.side-nav li.logo:hover{background:none;}
/*
 * right side nav menu
 */
ul.side-nav.fixed li a {line-height: 44px; height: 44px;}
li.naventry-1st a{font-weight:300; font-size:1.2rem; text-decoration:none}


/*
 * mini-toc
 */
 .toc-wrapper {position: relative;margin-top: 42px;}
 ul.table-of-contents {margin-top:0;padding-top:48px;list-style-type:none;}
.table-of-contents li {padding: 2px 0;}
.table-of-contents a {display: inline-block;padding-left: 20px;height: 1.5rem;line-height: 1.5rem;}
.table-of-contents a.active {font-weight: 500;padding-left: 18px;border-left: 2px solid #ea4a4f;}

/*
 * headline wrapper
 */
#index-banner{min-height:14rem}
#tr-title{margin:3rem 0 0 0}
#tr-subtitle{margin:0.8rem 0 0.8rem 0;}
/*
 * footer
 */
footer{margin-top:7.5rem !important}
footer p{font-weight:normal; line-height:130%; font-size:1rem;}
#tr-footer-3{text-align:right}
@media only screen and (max-width: 992px){
  #tr-footer-3{text-align:center}
}
#letex-logo{margin:2.5rem 0 3rem 0;} 
/*
 * colors
 */
 
 /* 
  * dark-red  a42423
  * base-red  d2032c
  * light-red e74011
  *
  */ 
.footer-copyright {background-color:#a42423}
.side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active{background-color:#ff9800;}
.side-nav li:hover{background-color:#fff3e0 }
.side-nav li:active, .side-nav li:focus{background-color:#ff9800}
.side-nav li.active{background-color:#eee }
body, #tr-nav{background-color:#fafafa}
pre{background-color:#f5f5f5; border: 1px solid #e0e0e0; padding:1rem 1rem 1.5rem 1rem }
/*
 * text styles
 * 
 */

#tr-content h2, #tr-content h3, #tr-content h4{font-weight:300} 
#tr-content h2{font-size:3.5rem; color: #e53935;}
#tr-content h3{font-size:2rem; }
#tr-content h5{font-size:1.5rem; color: #000}
#tr-content .card-title{color: #ef5350}

#tr-content ul li, #tr-content ol li{margin:0 0 0 2rem; padding:0}
#tr-content ul li p, #tr-content ol li p{margin:0.25em 0 0 0.25em; padding:0}

#tr-content ul li{list-style-type:disc}
#tr-content ol li{list-style-type:decimal}

p{font-size: 1.25rem; font-weight: 300;}

code{font-size:1rem; padding: .1em; border-radius: .3em; background: #f5f2f0; color: #07a; white-space:pre-line !important}